@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
 
    }
    body {
        background: #000 !important;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none !important;
    }

    h1,h2,h3,h4,h5,h6,a,p{
        color: #fff !important;
    }
    .heading {
        font-size: 50px;
        text-align: center;
        margin-top:50px;
    }
    